body {
    background-color: #232323;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background-color 0.3s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
    }

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
    transition: background-color 2.0s;
}

.selected {
    color:white;
    background-color: steelblue;
}

button {
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
}

button:hover {
    color:white;
    background-color: steelblue;
}
